body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-size: 15px;
  font-family: sans-serif;
}

head1 {
  text-shadow: 2px 2px #ff0000;
  color: #fff;
  font-size: 35px;
  padding: 25px;
  font-family: sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #00aaff; 
  background-color: #444;
}

.topnav a.active {
  background-color: #04AA6D; 
  color: white;
}

.page {
  padding: 20px;
}

.button {
  background-color: #5bba50;
  border: none;
  color: white;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.glowingText {
  text-shadow: 0px 0px 10px cyan;
}

.centered {
  text-align: center;
}

spacer15 {
  height: 30px
}

spacer30 {
  height: 30px
}

spacer50 {
  height: 59px
}

divider {
  width: 100%;
  height: 2px;
  background-color: #8a8a8a;
  margin: 15px 0;
}
