body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-size: 15px;
  font-family: sans-serif;
}

head1 {
  text-shadow: 2px 2px #ff0000;
  color: #fff;
  font-size: 35px;
  padding: 25px;
  font-family: sans-serif;
}
