body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-size: 15px;
  font-family: sans-serif;
}

head1 {
  text-shadow: 2px 2px #ff0000;
  color: #fff;
  font-size: 35px;
  padding: 25px;
  font-family: sans-serif;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:visited {
  color: white;
}

.topnav a:hover {
  color: blue;
  background-color: #ddd;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
