body {
  background: #000;
  color: #fff;
  padding: 25px;
  font-size: 15px;
  font-family: sans-serif;
}

head1 {
  text-shadow: 2px 2px #ff0000;
  color: #fff;
  font-size: 35px;
  padding: 25px;
  font-family: sans-serif;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #00aaff; 
  background-color: #444;
}

.topnav a.active {
  background-color: #04AA6D; 
  color: white;
}

.page {
  padding: 20px;
}

.button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
